table{

}

.wl_options_form label{
	margin: 0 5px;
}

.wl_options_form.ltr input{
	margin: 0 15px 0 0px;
}
.wl_options_form.rtl input{
	margin: 0 0px 0 15px;
}

.wl_options_form input[type=checkbox]{
	position: relative;
	top: 2px;
}
.wl_options_form input[type=email], .wl_options_form input[type=text]{
	width: 250px;
}

.updated{
	padding: 10px !important;
}